*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rebeccapurple;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container{
    width: 400px;
    background-color: rgb(69, 17, 118);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}